h1 {
    color: lightgray;
    text-align: center;
    font-family: sans-serif
}

body {
    background-color: rgb(95, 158, 160);
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: space-between;
}

.category-wrapper {
    height: 80px;
    width: 650px;
    background-color: white;
    margin: 10px auto;
    border-radius: 5px;
    padding: 30px
}

.game-wrapper {
    height: 350px;
    width: 650px;
    background-color: whitesmoke;
    margin: 20px auto;
    border-radius: 10px;
    padding: 30px
}

.category-wrapper .category {
    text-align: center;
    color: black;
    padding-top: 20px;
    font-family: sans-serif
}

.category-wrapper .categories {
    font-family: sans-serif;
    color: orangered;
}

.category-wrapper .categories ul {
    display: flex;
    padding: 0%;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
    cursor: pointer;
}

.game-wrapper .question .category-questions ul {
    float: left;
    list-style: none;
}

.game-wrapper .score {
    text-align: center;
    font-family: sans-serif
}

.game-wrapper .score .next {
    width: 35%;
    float: right;
}

.game-wrapper .score .score-container {
    text-align: center;
    box-shadow: lightgray
}

.form-container {
    height: 150px;
    width: 650px;
    background-color: whitesmoke;
    margin: 20px auto;
    border-radius: 10px;
    padding: 30px;
    text-align: center
}

input[type=submit] {
    background-color: gray;
    border: none;
    color: whitesmoke;
    padding: 16px 32 px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 24%
}

h4 {
    font-family: sans-serif;
}

.scores {
    height: 400px;
    width: 650px;
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    padding: 30px
}

.game-wrapper .options ul {
    background-color: gray;
    border: none;
    color: whitesmoke;
    padding: 16px 32 px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 24%;
    justify-content: space-between;
}

.button2 {
    background-color: gray;
    border: none;
    color: whitesmoke;
    padding: 16px 32 px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 24%
}